body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login{
      float: right;
  }
  img {
      padding-top: 7%;
      width: 70vh;
      height: 60vh;
      padding-left: 25%;
  }